.title {
    color: rgb(15, 64, 115);
    font: bold large serif;
    font-size: 200%;
    font-weight: 1000;
    margin: 50px;
}
.title_s {
    color: rgb(15, 64, 115);
    font: bold large serif;
    font-size: 200%;
    font-weight: 1000;
    margin: 50px;
}
.title_s_purple {
    color: rgb(78, 22, 141);
    font: bold large serif;
    font-size: 200%;
    font-weight: 1000;
    margin: 50px;
    font-family: "Verdana";
}

.background {
    background-color: rgb(220, 220, 220)
}

.area_input {
    font-family: "Inter", sans-serif;
    background-color: rgb(230, 230, 230);
    font-size: calc(.6rem + .4vw);
    border: 1px solid;
}

.radio_text {
    color: hsl(0, 0%, 60%);
    margin-top: 5px; letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}

.div1 {
    border: 2px solid;
    margin: 1px 1px 1px 1px;
    border-color: rgb(179, 204, 12);
}
.div2 {
    margin: 30px;
}

.margin_1 {
    margin: 25px 25px 25px 25px;
}
.margin_2 {
    margin: 25px 0px 15px 0px;
}

.p1 {
    color: rgb(235, 98, 87);
    font-size: 120%;
    font-weight: 800;
}
.p2 {
    color: rgb(120, 204, 80);
    font-size: 120%;
    font-weight: 800;
}
.p3 {
    color: rgb(15, 64, 115);
    font-size: 120%;
    font-weight: 600;
}
.p3_warning {
    color: rgb(178, 16, 16);
    font-size: 120%;
    font-weight: 600;
}
.p4 {
    color: rgb(0, 0, 0);
    font-size: 120%;
    font-weight: 600;
    font-family: monospace;
}

.t1 {
    color: rgb(120, 204, 80);
    font-size: 180%;
    font-weight: 800;
}

.line{
    width: 750px;
    height: 1px;
    border-bottom: 1px solid black;
    margin: 10px;
}
.line_2{
    width: 1000px;
    height: 1px;
    border-bottom: 1px solid black;
    margin: 10px;
}

.fw800 {
    font-weight: 800;
}
.base {
    font-family: verdana;
}

.brown_button{
    input[type="radio"] {
        accent-color: rgb(105,51,0);}
}



button#submit_button:focus:before{
    font-size:10px;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-variant-caps: normal;
    font-variant-ligatures: normal;
    font-weight: 900;
    margin-right:5px;
    content: "110";
    -webkit-animation: spin 1s infinite;
    display:inline-block;
}
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg);transform-origin:5px 5px } }



.button {
    position: relative;
    padding: 8px 16px;
    background: #009579;
    border: none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
}

.button:active {
    background: #007a63;
}

.button__text {
    font: bold 20px 'Quicksand', san-serif;
    color: #ffffff;
    transition: all 0.2s;
}

.button--loading .button__text {
    visibility: hidden;
    opacity: 0;
  }

.button--loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}


.y_progress_bar{
    color: rgb(87, 92, 235);
}

.encadrer-un-contenu{ border: 3px groove white; padding: 15px; border-radius: 30px}


/* The container must be positioned relative: */
.custom-select {
    font-family: "Lucida Console";
    appearance: none;
    padding: 0.675em 6em 0.675em 1em;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
    max-width:50%;
}

select option {
    margin: 20px;
    background: rgba(0, 0, 0, 0.229);
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  }

  /*
  select option[value="1"] {
    background: rgba(100, 100, 100, 0.3);
  }
  
  select option[value="2"] {
    background: rgba(150, 150, 150, 0.3);
  }
  
  select option[value="3"] {
    background: rgba(200, 200, 200, 0.3);
  }
  
  select option[value="4"] {
    background: rgba(250, 250, 250, 0.3);
  }


/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }